[View in Colaboratory](https://colab.research.google.com/github/greenmoon1558/Basics/blob/master/DataRoot_University___Data_Science_Module_1___Test_1_Second___Try.ipynb)

## Requirements:

>  Python 3.6.4

>  numpy 1.14.0

>  scipy 1.0.0

>  pandas 0.22.0

# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

** 1. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    sums = 0
    result_index = None
    i = 0
    for tuple in tuples:
      temp_sum = sum(tuple)
      if (temp_sum)>sums:
        sums = temp_sum
        result_index = i
      i+=1
    return result_index

In [63]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

** 2. Implement function harmonic_sum(n) which returns sum of harmonic series of positive ineger n:**

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def harmonic_sum(n):
    '''
    :param n: int
    :return: float   
    '''
    if n < 2:
      return 1
    else:
      return 1 / n + (harmonic_sum(n - 1))

In [34]:
print(harmonic_sum(2))

1.5

Expected Output: 
<table>
  <tr>
    <td>Harmonic sum:</td>
    <td> 1.5 </td> 
  </tr>

** 3. Implement class MyList, that contains method get_combinations(self, my_list), which returns all unique combinations of elements of given list, including empty element and in order, law of which can be discrovered from the example below:**

<div style="text-align: right">DRP reward: 2</div>

In [0]:
class MyList:
    def combinations(self, iterable, r):
        pool = tuple(iterable)
        n = len(pool)
        if r > n:
            return
        indices = list(range(r))
        yield tuple(pool[i] for i in indices)
        while True:
            for i in reversed(range(r)):
                if indices[i] != i + n - r:
                    break
            else:
                return
            indices[i] += 1
            for j in range(i+1, r):
                indices[j] = indices[j-1] + 1
            yield tuple(pool[i] for i in indices)
            
    def get_combinations(self, lst):        
        combs = []
        for i in range(0, len(lst)+1):
            els = [list(x) for x in self. combinations(lst, i)]
            combs.extend(els)
        return combs

In [28]:
print(MyList().get_combinations([1, 2, 'a']))

[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output: 
<table>
  <tr>
    <td>Combinations:</td>
    <td> [[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']] </td> 
  </tr>

** 4. Implement function gcd(n, m), which returns the greatest common divisor of n and m.**
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def gcd(n, m):   
    '''
    :params m,n: int
    :return: int
    '''
    while m != 0:
        (n, m) = (m, n % m)
    return n

In [43]:
print(gcd(160, 180))

20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

# Libraries

## Numpy

In [0]:
import numpy as np

** 5. Implement function get_remainder(array), which returnes the element-wise remainder of an array of division by n.**

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def get_remainder(array, n):
    '''
    :param array: numpy.ndarray
    :param n: int
    :return: numpy.ndarray  
    '''
    return array%n

In [5]:
print(get_remainder(np.array([0, 1, 2, 3, 4, 7]), 5))

[0 1 2 3 4 2]

Expected Output: 
<table>
  <tr>
    <td>remainder:</td>
    <td> [0 1 2 3 4 2] </td> 
  </tr>

** 6. Implement function svd_ranks(Z) which performs SVD of given matrix and returns a list of ranks of matrices U, S and V.**
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def svd_ranks(Z): 
    '''
    :param Z: numpy.ndarray[list[list[int]]]
    :return: list  
    '''
    u, s, v = np.linalg.svd(Z, full_matrices=True)
    S = np.zeros(Z.shape, dtype=complex)
    S[:s.shape[0], :s.shape[0]] = np.diag(s)
    return [np.linalg.matrix_rank(u), np.linalg.matrix_rank(S), np.linalg.matrix_rank(v)]

In [7]:
print('Svd ranks:',svd_ranks(np.arange(9).reshape((3,3))))

Svd ranks: [3, 2, 3]

Expected Output: 
<table>
  <tr>
    <td>Svd ranks:</td>
    <td> [3, 2, 3] </td> 
  </tr>

** 7. Implement function dft() which computes the discrete Fourier Transform of the 1D array x, without using numpy function np.fft.fft(). **
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def dft(x):
    '''
    :param data: numpy.ndarray
    :return: numpy.ndarray
    ''' 
    x = np.asarray(x, dtype=float)
    N = x.shape[0]
    n = np.arange(N)
    k = n.reshape((N, 1))
    M = np.exp(-2j * np.pi * k * n / N)
    return np.dot(M, x)

In [9]:
np.random.seed(42)
print('Result:', dft(np.random.random(5)))

Result: [ 2.81192549+0.j         -0.35998102-0.83417311j -0.10963143-0.34030084j
 -0.10963143+0.34030084j -0.35998102+0.83417311j]

Expected Output: 
<table>
  <tr>
    <td>Result:</td>
    <td> [ 2.81192549+0.j         -0.35998102-0.83417311j -0.10963143-0.34030084j
 -0.10963143+0.34030084j -0.35998102+0.83417311j]

## Pandas

In [0]:
import pandas as pd

**8. Consider the following dictionary "data" and list "labels":**

In [0]:
data = {'animal': ['cat', 'cat', 'dog', 'dog', 'cat', 'cat', 'dog', 'cat', 'dog', 'dog'],
        'age': [2.5, 1, 0.5, np.nan, 5, 2, 3.5, np.nan, 7, 3],
        'weight': [1, 3, 6, 8, 4, 3, 10, 2, 7, 3],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

** 8.1 Implement function repl_nan(data, labels) which creates a dataframe from dictionary  "data" with indexes from the list "labels" (indexes column must be unnamed), replaces the values "nan" in the age field by the (mean age + std) depending on the animal's type and returns a new dataframe.**
<div style="text-align: right">DRP reward: 1</div>

In [0]:
import pandas as pd
def repl_nan(data, labels):    
    '''
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame 
    ''' 
    frame = pd.DataFrame(data, index=labels)
    frame.age = frame.groupby('animal')['age'].apply(lambda x: x.fillna(x.mean()+x.std()))
    return frame

In [15]:
repl_nan(data, labels)

        age animal priority  weight
a  2.500000    cat      yes       1
b  1.000000    cat      yes       3
c  0.500000    dog       no       6
d  6.177063    dog      yes       8
e  5.000000    cat       no       4
f  2.000000    cat       no       3
g  3.500000    dog       no      10
h  4.326715    cat      yes       2
i  7.000000    dog       no       7
j  3.000000    dog       no       3

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **a**  | 2.500000 | cat      | yes | 1|
| **b** | 1.000000  | cat      | yes | 3|
| **c** | 0.500000  | dog      | no | 6|
| **d** | 6.177063  | dog      | yes | 8|
| **e** | 5.000000  | cat      | no | 4|
| **f** | 2.000000  | cat      | no | 3|
| **g** | 3.500000  | dog      | no | 10|
| **h** | 4.326715  | cat      | yes | 2|
| **i** | 7.000000  | dog      | no |7|
| **j** | 3.000000  | dog      | no | 3|

** 8.2 Implement function big_dogs(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels"  (indexes column must be unnamed) and returns dataframe with data about dogs with weight > 5.**
<div style="text-align: right">DRP reward: 1</div>

In [0]:
def big_dogs(data, labels):    
    '''
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame 
    ''' 
    frame = pd.DataFrame(data, index=labels)
    return frame.loc[frame['animal'] == 'dog'].loc[frame['weight']>5]

In [17]:
big_dogs(data, labels)

   age animal priority  weight
c  0.5    dog       no       6
d  NaN    dog      yes       8
g  3.5    dog       no      10
i  7.0    dog       no       7

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **c** | 0.5  | dog      | no | 6|
| **d** | NaN  | dog      | yes | 8|
| **g** | 3.5  | dog      | no | 10|
| **i** | 7.0  | dog      | no |7|

** 8.3  Implement function sorted_df(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels"  (indexes column must be unnamed) which returns dataframe sorted  firstly by age in a ascending order, secondly, for the number of weight in decreasing order.**
<div style="text-align: right">DRP reward: 1</div>

In [0]:
def sorted_df(data, labels):
    '''
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame 
    ''' 
    frame = pd.DataFrame(data, index=labels).sort_values(by='weight', ascending=False).sort_values(by='age', ascending=True)
    return frame

In [19]:
sorted_df(data, labels)

   age animal priority  weight
c  0.5    dog       no       6
b  1.0    cat      yes       3
f  2.0    cat       no       3
a  2.5    cat      yes       1
j  3.0    dog       no       3
g  3.5    dog       no      10
e  5.0    cat       no       4
i  7.0    dog       no       7
d  NaN    dog      yes       8
h  NaN    cat      yes       2

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **c** | 0.5  | dog      | no | 6|
| **b** | 1.0  | cat      | yes | 3|
| **f** | 2.0  | cat      | no | 3|
| **a**  | 2.5 | cat      | yes | 1|
| **j** | 3.0  | dog      | no | 3|
| **g** | 3.5  | dog      | no | 10|
| **e** | 5.0  | cat      | no | 4|
| **i** | 7.0  | dog      | no |7|
| **d** | NaN  | dog      | yes | 8|
| **h** | NaN  | cat      | yes | 2|

** 8.4 Implement function weight_to_type(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels"  (indexes column must be unnamed), calculates average weight of each animal type and returns dictionary with these values, where keys are animal types and values are animal weights.**
<div style="text-align: right">DRP reward: 1</div>

In [0]:
def weight_to_type(data, labels):    
    '''
    :param data: dict
    :param labels: list[str]
    :return: dict
    ''' 
    frame = pd.DataFrame(data, index=labels)
    return frame.groupby('animal')['weight'].mean().to_dict()

In [21]:
print(weight_to_type(data, labels))

{'cat': 2.6, 'dog': 6.8}

Expected Output: 
<table>
  <tr>
    <td>weight_to_type:</td>
    <td> {'cat': 2.6, 'dog': 6.8} </td> 
  </tr>

## Scipy

In [0]:
import scipy

** 9. The equation of motion for the damped oscillator is:**



<div style="text-align: center">$\frac{d^{2}x}{dt^2}+2\varepsilon \omega _{0}\frac{dx}{dt}+\omega_ {0}^{2}x = 0$</div>

where $x$ is the position of the oscillator, $\omega_0$ is the frequency, and $\zeta$ is the damping ratio.

To write this second-order ODE on standard form we introduce $p$ = dx/dt:

<div style="text-align: center">$\frac{dp}{dt} = -2\varepsilon \omega _{0}p - \omega_ {0}^{2}x$</div>

<div style="text-align: center">$\frac{dx}{dt} = p$</div>

Implement function over_damped() which solves the ODE for damped oscillation with $\zeta$ = 5 and returns array of y coordinates, depending on t.
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def over_damped(y0, t):
    '''
    :param y0: list, initial state 
    :param t: array, time coodinate to solve the ODE for
    :return: numpy.ndarray of shape (10, )
    '''
    # frequency:
    y0 = [1.0, 0.0] 
    # time coodinate to solve the ODE for:
    t = np.linspace(0, 10, 10)
    # frequency:
    w0 = 2.0 * math.pi
    zeta = 5
    def dy(y, t, zeta, w0):
      """
      The right-hand side of the damped oscillator ODE
      """
      x, p = y[0], y[1]
      dx = p
      dp = -2 * zeta * w0 * p - w0**2 * x
      return [dx, dp]
    return odeint(dy, y0, t, args=(zeta, w0))[:,0]

In [77]:
y0 = [2.0, 0.0] 
t = np.linspace(0, 5, 5)

print(over_damped(y0, t))

TypeError: ignored

Expected Output: 
<table>
  <tr>
    <td>over_damped:</td>
    <td> [ 2.          0.91392352  0.41336618  0.18696489  0.08456395] </td> 
  </tr>