[View in Colaboratory](https://colab.research.google.com/github/greenmoon1558/Basics/blob/master/DataRoot_University___Data_Science_Module_1___Test_1_(2).ipynb)

## Requirements:

>  Python 3.6.4

>  numpy 1.14.0

>  scipy 1.0.0

>  pandas 0.22.0

# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    return {value: some_str.count(value) for value in some_str }

In [8]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">DRP reward: 2

In [0]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    arr_with_min_values = [x for x in numbers[0:2]]
    if arr_with_min_values[0]>arr_with_min_values[1]:
        arr_with_min_values = arr_with_min_values[1:0:-1]
    for number in numbers[2:]:
        for index, min in enumerate(arr_with_min_values):
            if not number in arr_with_min_values and number<min:
                arr_with_min_values[index] = number
                break
    return arr_with_min_values[1]

In [12]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">DRP reward: 2</div>

In [0]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    prime_nums_arr = []
    for num in range(2, n):
      is_prime = True
      for i in range(2, int(n/2)): 
          if (num!=i) & (num%i == 0):
            is_prime = False
            break
      if is_prime: prime_nums_arr.append(num)
    return prime_nums_arr

In [25]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

#### 4. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">DRP reward: 2</div>

In [0]:
class Conv:
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        roman_number = ""
        for index, currend_divider in enumerate(val):
          roman_number += (num//currend_divider)*syb[index]
          num = num-((num//currend_divider)*currend_divider)
        return roman_number

In [39]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 5. Implement class MyList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">DRP reward: 2</div>

In [0]:
class MyList:
    def combinations(self, iterable, r):
        pool = tuple(iterable)
        n = len(pool)
        if r > n:
            return
        indices = list(range(r))
        yield tuple(pool[i] for i in indices)
        while True:
            for i in reversed(range(r)):
                if indices[i] != i + n - r:
                    break
            else:
                return
            indices[i] += 1
            for j in range(i+1, r):
                indices[j] = indices[j-1] + 1
            yield tuple(pool[i] for i in indices)
            
    def get_combinations(self, lst):        
        combs = []
        for i in range(0, len(lst)+1):
            els = [list(x) for x in self. combinations(lst, i)]
            combs.extend(els)
        return combs

In [2]:
print('Combinations:', MyList().get_combinations([1, 2, 'a']))

Combinations: [[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

# Libraries: numpy, scipy, pandas

## Numpy

In [0]:
import numpy as np

#### 6. Implement function func() which completes following task: the average weight of car is `m` kg, with a standard deviation of `s` kg. What part of all cars would you expect to have weight more than `k` kg (probability must be < 1)?
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def func(m, s, k):   
    """
    :param m: int
    :param s: int
    :param k: int
    :return: float
    """
    return 1-(m/k)

In [61]:
print('Result:', func(25, 3, 27))

Result: 0.07407407407407407

Expected Output:
<table>
  <tr>
    <td>Result:</td>
    <td>~0.2546</td> 
  </tr>

#### 7. Implement function add_mean_and_calc_det(matrix), which adds to each element in the matrix row the mean of this row and returns the determinant(np.linalg.det) of the resulting matrix.

<div style="text-align: right">DRP reward: 2</div>

In [0]:

def add_mean_and_calc_det(matrix):
    """
    :matrix: numpy.ndarray[list[list[int]]]
    :return: numpy.float64
    """
    average = 0;
    for index, x in np.ndenumerate(matrix):
      if index[1] == 0:
        average = np.sum(matrix[index[0], :])/len(matrix[index[0], :])
      matrix[index] += average
    return np.linalg.det(matrix)

In [100]:
print('Result:', add_mean_and_calc_det(np.array([[5, 3, 4], [7, 9, 8], [6, 7, 8]])))

Result: 72.0

Expected Output: 
<table>
  <tr>
    <td>Result:</td>
    <td> 72 </td> 
  </tr>

#### 8. Implement function nearest_to_scalar(matrix, n), which returns the closest to n number in the matrix.
  
<div style="text-align: right">DRP reward: 2</div>

In [0]:
import numpy as np
def nearest_to_scalar(matrix, n):
    """
    :param matrix: numpy.ndarray[list[list[int]]]
    :param n: int
    :return: int  
    """
    currentResult = matrix[0,0]
    for index, x in np.ndenumerate(matrix):
      if (np.abs(currentResult-n) >= np.abs(x-n)):
        currentResult = x
    return currentResult

In [130]:
print('Nearest:', nearest_to_scalar(np.array([[5, 3, 4], [7, 9, 8], [6, 7, 8]]), 11))

Nearest: 9

Expected Output:
<table>
  <tr>
    <td>Nearest:</td>
    <td> 9 </td> 
  </tr>

#### 9. Implement function svd_ranks(Z) which performs SVD of given matrix and returns a list of ranks of matrices U, S and V.
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def svd_ranks(Z): 
    """
    :param Z: numpy.ndarray[list[list[int]]]
    :return: list  
    """
    u, s, v = np.linalg.svd(Z, full_matrices=True)
    S = np.zeros(Z.shape, dtype=complex)
    S[:s.shape[0], :s.shape[0]] = np.diag(s)
    return [np.linalg.matrix_rank(u), np.linalg.matrix_rank(S), np.linalg.matrix_rank(v)]

In [21]:
print('Svd ranks:',svd_ranks(np.arange(9).reshape((3,3))))

Svd ranks: [3, 2, 3]

Expected Output: 
<table>
  <tr>
    <td>Svd ranks:</td>
    <td> [3, 2, 3] </td> 
  </tr>

#### 10. Implement function dft(x) which computes the discrete Fourier Transform of the 1D array x, without using numpy function np.fft.fft().
<div style="text-align: right">DRP reward: 2</div>

In [0]:
import numpy as np
def dft(x):
    """
    :param data: numpy.ndarray
    :return: numpy.ndarray
    """
    x = np.asarray(x, dtype=float)
    N = x.shape[0]
    n = np.arange(N)
    k = n.reshape((N, 1))
    M = np.exp(-2j * np.pi * k * n / N)
    return np.dot(M, x)

In [24]:
np.random.seed(42)
print('Result:', dft(np.random.random(5)))

Result: [ 2.81192549+0.j         -0.35998102-0.83417311j -0.10963143-0.34030084j
 -0.10963143+0.34030084j -0.35998102+0.83417311j]

Expected Output: 
<table>
  <tr>
    <td>Result:</td>
    <td> [ 2.81192549+0.j         -0.35998102-0.83417311j -0.10963143-0.34030084j
 -0.10963143+0.34030084j -0.35998102+0.83417311j]

## Pandas

In [0]:
import pandas as pd

#### 11. Consider the following dictionary "data" and list "labels":

In [0]:
data = {'animal': ['cat', 'cat', 'dog', 'dog', 'cat', 'cat', 'dog', 'cat', 'dog', 'dog'],
        'age': [2.5, 1, 0.5, np.nan, 5, 2, 3.5, np.nan, 7, 3],
        'weight': [1, 3, 6, 8, 4, 3, 10, 2, 7, 3],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

** 11.1 Implement function repl_nan(data, labels) which creates a dataframe from dictionary  "data" with indexes from the list "labels", replaces the values "nan" in the age field by the mean age depending on the animal's type and returns a new dataframe.**
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def repl_nan(data, labels):    
    """
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame 
    """
    frame = pd.DataFrame(data, index=labels)
    frame.age = frame.groupby('animal')['age'].apply(lambda x: x.fillna(x.mean()))
    return frame

In [8]:
repl_nan(data, labels)

     age animal priority  weight
a  2.500    cat      yes       1
b  1.000    cat      yes       3
c  0.500    dog       no       6
d  3.500    dog      yes       8
e  5.000    cat       no       4
f  2.000    cat       no       3
g  3.500    dog       no      10
h  2.625    cat      yes       2
i  7.000    dog       no       7
j  3.000    dog       no       3

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **a**  | 2.500 | cat      | yes | 1|
| **b** | 1.000  | cat      | yes | 3|
| **c** | 0.500  | dog      | no | 6|
| **d** | 3.500  | dog      | yes | 8|
| **e** | 5.000  | cat      | no | 4|
| **f** | 2.000  | cat      | no | 3|
| **g** | 3.500  | dog      | no | 10|
| **h** | 2.625  | cat      | yes | 2|
| **i** | 7.000  | dog      | no |7|
| **j** | 3.000  | dog      | no | 3|

#### 11.2 Implement function weight_to_type(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels", calculates average weight of each animal type and returns dictionary with these values, where keys are animal types and values are animal weights.
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def weight_to_type(data, labels):    
    """
    :param data: dict
    :param labels: list[str]
    :return: dict
    """
    frame = pd.DataFrame(data, index=labels)
    return frame.groupby('animal')['weight'].mean().to_dict()

In [22]:
print('weight_to_type', weight_to_type(data, labels))

weight_to_type {'cat': 2.6, 'dog': 6.8}

Expected Output: 
<table>
  <tr>
    <td>weight_to_type:</td>
    <td> {'cat': 2.6, 'dog': 6.8} </td> 
  </tr>

#### 11.3  Implement function kittens(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels" and returns dataframe with data about cats with age < 3.
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def kittens(data, labels):    
    """
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame
    """
    frame = pd.DataFrame(data, index=labels)
    return frame.loc[frame['animal'] == 'cat'].loc[frame['age']<3].head(3)

In [63]:
kittens(data, labels)

   age animal priority  weight
a  2.5    cat      yes       1
b  1.0    cat      yes       3
f  2.0    cat       no       3

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **a** | 2.5  | cat      | yes | 1|
| **b** | 1.0  | cat      | yes | 3|
| **f** | 2.0  | cat      | no | 3|

#### 11.4  Implement function sorted_df(data, labels) which creates a dataframe from dictionary "data" with indexes from the list "labels" which returns dataframe sorted  firstly by age in a decreasing order, secondly, for the number of weight in ascending order.
<div style="text-align: right">DRP reward: 2</div>

In [0]:
def sorted_df(data, labels):
    """
    :param data: dict
    :param labels: list[str]
    :return: pandas.core.frame.DataFrame 
    """
    frame = pd.DataFrame(data, index=labels).sort_values(by='weight', ascending=True).sort_values(by='age', ascending=False)
    return frame

In [58]:
sorted_df(data, labels)

   age animal priority  weight
i  7.0    dog       no       7
e  5.0    cat       no       4
g  3.5    dog       no      10
j  3.0    dog       no       3
a  2.5    cat      yes       1
f  2.0    cat       no       3
b  1.0    cat      yes       3
c  0.5    dog       no       6
h  NaN    cat      yes       2
d  NaN    dog      yes       8

Expected Output: 

|  | age | animal                    | priority | weight       | 
|----|-------------------------|----------|------------|------------------------------------------------|--------------------------------------------------------|--------------|-----------------------|
| **i** | 7.0  | dog      | no |7|
| **e** | 5.0  | cat      | no | 4|
| **g** | 3.5  | dog      | no | 10|
| **j** | 3.0  | dog      | no | 3|
| **a**  | 2.5 | cat      | yes | 1|
| **f** | 2.0  | cat      | no | 3|
| **b** | 1.0  | cat      | yes | 3|
| **c** | 0.5  | dog      | no | 6|
| **h** | NaN  | cat      | yes | 2|
| **d** | NaN  | dog      | yes | 8|

## Scipy

In [0]:
import scipy

#### 12. The equation of motion for the damped oscillator is:



<div style="text-align: center">$\frac{d^{2}x}{dt^2}+2\zeta \omega _{0}\frac{dx}{dt}+\omega_ {0}^{2}x = 0$</div>

where $x$ is the position of the oscillator, $\omega_0$ is the frequency, and $\zeta$ is the damping ratio.

To write this second-order ODE on standard form we introduce $p$ = dx/dt:

<div style="text-align: center">$\frac{dp}{dt} = -2\zeta \omega _{0}p - \omega_ {0}^{2}x$</div>

<div style="text-align: center">$\frac{dx}{dt} = p$</div>

Implement function undamped() which solves the ODE for undamped oscillation.
<div style="text-align: right">DRP reward: 2</div>
Return vector of y coordinates, depending on time t.

In [0]:
def undamped(y0, t):
    '''
    :param y0: list, initial state 
    :param t: array, time coodinate to solve the ODE for
    :return: numpy.ndarray of shape (10, )
    '''
    # frequency:
    w0 = 2.0 * np.pi
    def dy(y, t, zeta, w0):
      """
      The right-hand side of the damped oscillator ODE
      """
      x, p = y[0], y[1]
      dx = p
      dp = -2 * zeta * w0 * p - w0**2 * x
      return [dx, dp]
    return scipy.integrate.odeint(dy, y0, t, args=(0.0, w0))[:,0]

In [32]:
y0 = [2.0, 0.0] 
t = np.linspace(0, 5, 5)

print(undamped(y0, t))

[ 2.00000000e+00  7.49489745e-08 -2.00000012e+00 -1.95362282e-07
  2.00000027e+00]

Expected Output: 
<table>
  <tr>
    <td>undamped:</td>
    <td> [  2.00000000e+00   7.49489745e-08  -2.00000012e+00  -1.95362282e-07
   2.00000027e+00] </td> 
  </tr>